---
interface Props {
    title: string;
    description: string;
    featuredImage?: string;
}

const {title, description} = Astro.props;
import Container from '../common/Container.astro';
---
<section class="relative">
    <Container class="py-24 sm:py-32">
        <div class="mx-auto max-w-2xl text-center mb-16">
            <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">
                {title}
            </h1>
            <p class="mt-6 text-lg text-neutral-400">
                {description}
            </p>
        </div>
    </Container>
</section>