---
import Container from '../common/Container.astro';

interface Props {
    challenges: string[];
}

const { challenges } = Astro.props;
---
<section class="py-16 sm:py-24">
    <Container>
        <h2 class="text-3xl font-bold tracking-tight text-white mb-8">The Challenge</h2>
        <div class="space-y-6 text-neutral-300">
            <p class="text-lg">
                <slot name="introduction" />
            </p>

            {challenges && challenges.length > 0 && (
                <div>
                    <h3 class="text-xl font-semibold text-white mt-8 mb-4">Key challenges included:</h3>
                    <ul class="space-y-2 list-inside list-disc">
                        {challenges.map(challenge => (
                            <li>{challenge}</li>
                        ))}
                    </ul>
                </div>
            )}
        </div>
    </Container>
</section>