---
import Container from '../common/Container.astro';
import PrimaryButton from "../PrimaryButton.astro";
---

<section class="relative isolate pt-24 sm:pt-32 bg-white">
    <Container>
        <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:items-center lg:gap-y-0">
            <div class="lg:max-w-lg col-span-2">
                <h1 class="text-4xl font-bold tracking-tight text-neutral-950 sm:text-6xl">
                    Leading with Innovation
                </h1>
                <p class="mt-6 text-lg leading-8 text-neutral-900">
                    A passionate technology leader with over a decade of experience in transforming development
                    processes and driving organizational success through strategic innovation and team empowerment.
                </p>
                <div class="mt-10 flex gap-x-6">
                    <PrimaryButton href="/portfolio"
                                   light>
                        View Portfolio
                    </PrimaryButton>
                </div>
            </div>
            <div class="relative isolate">
                <div class="overflow-hidden">
                    <img
                        src="/about-hero.png"
                        alt="Anthony Trivisano"
                        class="h-full w-full object-cover"
                    />
                </div>
            </div>
        </div>
    </Container>
</section>