---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/home/HeroSection.astro';
import FeaturedProjects from '../components/home/FeaturedProjects.astro';
import FeaturedBlogPosts from '../components/home/FeaturedBlogPosts.astro';
import SkillsExpertise from '../components/home/SkillsExpertise.astro';
import CTASection from '../components/home/CTASection.astro';
---

<MainLayout title="Anthony Trivisano - VP of Development & Project Management">
    <div class="bg-neutral-950">
        <Header slot="header" />

        <main class="flex flex-col gap-20">
            <HeroSection />
            <FeaturedProjects />
            <FeaturedBlogPosts />
            <SkillsExpertise />
            <CTASection />
        </main>

        <Footer slot="footer" />
    </div>
</MainLayout>