---
import PrimaryButton from "../PrimaryButton.astro";
import SecondaryButton from "../SecondaryButton.astro";
---

<!-- CTA Section -->
<section class="relative isolate overflow-hidden bg-neutral-950 px-6 lg:py-10 lg:px-8">
    <div class="mx-auto max-w-7xl">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Ready to Transform Your Development Process?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-white">
                Let's discuss how my experience in development leadership and process optimization can benefit your organization.
            </p>
            <div class="mt-10 flex flex-col md:flex-row items-center justify-center gap-6">
                <PrimaryButton href="/contact">Get in Touch</PrimaryButton>
                <SecondaryButton href="/about">Learn More</SecondaryButton>
            </div>
        </div>
    </div>
</section>