---
import Navigation from './Navigation.astro';
---

<header class="sticky top-0 z-50 w-full border-b backdrop-blur border-neutral-800 bg-neutral-950/80">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div class="flex h-16 items-center justify-between">
			<div class="flex items-center">
				<a href="/" class="flex items-center">
					<img
						src="/logo-white.png"
						alt="Anthony Trivisano"
						class="w-full max-w-[100px]"
					/>
				</a>
			</div>
			<Navigation />
		</div>
	</div>
</header>