---
const navigation = [
    {name: 'Home', href: '/', button: false},
    {name: 'About', href: '/about', button: false},
    {name: 'Portfolio', href: '/portfolio', button: false},
    {name: 'Blog', href: '/blog', button: false},
    {name: 'Contact', href: '/contact', button: false},
    {name: 'Book a call', href: 'https://calendar.app.google/xPsjRKhmb5aM5BFW8', button: true},
];
---

<nav class="hidden md:flex items-center space-x-8">
    {
        navigation.map((item) => (
            <a
                href={item.href}
                class:list={[
                    "text-base font-medium transition-colors",
                    item.button
                        ? "bg-white text-black hover:bg-neutral-100 px-5 py-3"
                        : "text-neutral-200 hover:text-neutral-400"
                ]}
                target={item.button ? "_blank" : "_self"}
            >
                {item.name}
            </a>
        ))
    }
</nav>