---
import MainLayout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import PortfolioHero from '../../components/portfolio/PortfolioHero.astro';
import ProjectGrid from '../../components/portfolio/ProjectGrid.astro';
---

<MainLayout title="Portfolio - Anthony Trivisano">
    <div class="bg-neutral-950">
        <Header slot="header" />

        <main>
            <PortfolioHero />
            <ProjectGrid />
        </main>

        <Footer slot="footer" />
    </div>
</MainLayout>